/* H2デザイン */
h2 {
color: #6594e0;/*文字色*/
border-bottom: dashed 2px #6594e0;
/*線の種類（点線）2px 線色*/
}

/* ヘッダー画像 */
.headimg {
    min-height: 110px;
    margin-bottom: 10px;
    padding: 60px 10px;
    background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/t/tonkotutarou/20160728/20160728190953.jpg");
    background-position:50% 70%;
    }
    /* 追記 */
    #title a, #blog-description, .headimg h3, .headimg h4, .headimg h5, .headimg h6 { font-family: "游ゴシック体"; } /*ページ上部のフォントまとめて変更*/
.headimg h4 {font-size: 2.0em;
font-weight:500;} /*大見出しのフォントサイズ。デフォルトはfont-size: 3.5em; */
.headimg h5 {font-size: 1.0em; font-weight:500;} /*中見出しのフォントサイズ。デフォルトはfont-size: 1.3em; */
.headimg h6 {
font-size: 0.77em; height: 45px} /*おすすめ記事 */

#title a { font-family: "游ゴシック体"; font-weight:500;} /*ブログタイトルのフォント変更*/
#blog-description { font-family: "游ゴシック体"; font-weight:500;}

.entry-date date first { font-family: "Poiret One";}

/* </system> */
/* 本文フォント　*/
html,body {
    font-family: "Note Sans", Helvetica, "Avenir Next","游ゴシック体", '游ゴシック', YuGothic, 'Yu Gothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "メイリオ", Meiryo, sans-serif;font-weight:500;
}

/* 行間 */
.entry-content p,
.entry-content div{
    margin: 0;
    font-size : 17px ;
}
/* 目次 */
/* 目次のリストを数字に */
.entry-content .table-of-contents li,
.entry-content .table-of-contents ul{
    list-style-type: decimal;
}
/* 「目次」の文字を追加 */
.table-of-contents:before{
    content: "目次";
    font-size: 150%;
}
/* 目次の小見出しを消す */
.table-of-contents ul ul{
    display: none;
}
/* 目次の枠線の丸みと背景色設定 */
.table-of-contents{
    border-radius: 4px; /*枠線の角の丸みの変更*/
    background: #f6f6f6;/*背景色はここから変更*/
}
/* 目次の小見出しの文字を少し小さく */
.table-of-contents ul{
    font-size: 84%;
}
/* 見出しサイズ */
.entry-content h5 {
  position: relative;
  color: #fff;
  padding: 8px 12px;
  background-color: #6ba8dc;
  border-radius: 6px;
}
.entry-content h5::before{
  position: absolute;
  top: 100%;
  left: 32px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #6ba8dc;
  content: '';
}
/* サイドバーかえる */
.hatena-module-title {
    color: #202035;
    font-weight: bold;
    border-left: 10px #202035 solid;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 150%;
    line-height: 1em;
    letter-spacing: 0.1em;
    font-family: 'Poiret One';
}
/* サイドバー間隔下げる */
.hatena-module {
margin-bottom:20px;
}

/* サイドバーの間に線 */
#box2 {
border-left: 1px rgb(180, 180, 255) dashed;
padding-left: 10px;
}

.hatena-module-title {

margin-left: -16px;
}

/*--------------------------------------
  ヨメレバ・カエレバ（レスポンシブ）
--------------------------------------*/
.booklink-box, .kaerebalink-box{
    padding:25px;
    margin-bottom: 10px;
    border:double #CCC;
    overflow: hidden;
    font-size:small;
}
.booklink-image, .kaerebalink-image{
    margin:0 15px 0 0;
    float:left;
    min-width: 160px;
    text-align: center;
}
.booklink-image img, .kaerebalink-image img{
    margin:0 auto;
    text-align:center;
}
.booklink-info, .kaerebalink-info{
    margin:0;
    line-height:120%;
    overflow: hidden;
}
.booklink-name, .kaerebalink-name{
    margin-bottom:24px;
    line-height:1.5em;
}
.booklink-powered-date, .kaerebalink-powered-date{
     font-size:8px;
     margin-top:10px;
     font-family:verdana;
     line-height:120%;
}
.booklink-detail, .kaerebalink-detail{font-size: 12px;}
.booklink-powered-date, .kaerebalink-detail{margin-bottom:15px;}
.booklink-link2, .kaerebalink-link1{margin-top:10px;}
.booklink-link2 a,
.kaerebalink-link1 a{
    width:30%;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:inline-block;
    margin:5px 2px 0 0;
    padding:10px 1px;
    text-align:center;
    float:left;
    text-decoration:none;
    font-weight:800;
    text-shadow:1px 1px 1px #dcdcdc;
    font-size:12px;
    color: #fff !important;
}
.booklink-link2 a:hover,
.kaerebalink-link1 a:hover{opacity: 0.6;}
.booklink-link2 a:active
.kaerebalink-link1 a:active{
    position:relative;
    top:1px;
}
/*ボタンを変えるときはここから*/
.shoplinkamazon a{color:#FF9901 !important;border: 1px solid #FF9901 !important;}
.shoplinkrakuten a{color:#c20004 !important;border: 1px solid #c20004 !important;}
.shoplinkkindle a{color:#007dcd !important;border: 1px solid #007dcd !important;}
.shoplinkkakakucom a{color:#314995 !important;border: 1px solid #314995;}
.shoplinkyahoo a{color:#7b0099 !important;border: 1px solid #7b0099 !important;}
/*ここまでを変更*/

.shoplinkyahoo img{display:none;}
.shoplinkyahoo a{font-size:10px;}
.booklink-footer{display: none;}

@media screen and (max-width: 680px) {
.booklink-box, .kaerebalink-box{padding:15px;}
.booklink-image, .kaerebalink-image{
    width: 100px !important;
    min-width: initial;
}
.booklink-name > a, .kaerebalink-name > a{
    font-size: 15px;
    font-weight: bold;
}
.booklink-name, .kaerebalink-name{margin-bottom:12px;}
.booklink-powered-date, .kaerebalink-powered-date{margin-top:5px;}
.booklink-link2 a,
.kaerebalink-link1 a{
    width:calc(100% - 4px);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin: 2px 0px;
    padding:10px 0px;
}
}

/*share-botton*/
.share-buttons{
    margin-bottom: 10px;
    text-align: left;
}
.share-buttons .inner a {
    position: relative;
    display: inline-block;
    width: 15%;
    height: 45px;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding:5px;
}
.share-buttons .inner .share-text{
    font-size: 15px;
}
.share-buttons .inner .hatena-bookmark-button{
    background: #008fde;
    box-shadow: 0 3px #5478a5;
}
.share-buttons .inner .hatena-bookmark-button:hover{
    background: #1db4eb;
}
.share-buttons .inner .hatena-bookmark-button:active{
    background: #5478a5;
}
.share-buttons .inner .facebook-button{
    background: #305097;
    box-shadow: 0 3px #213254;
}
.share-buttons .inner .facebook-button:hover{
    background: #4c70ba;
}
.share-buttons .inner .facebook-button:active{
    background: #213254;
}
.share-buttons .inner .twitter-button{
    background: #55acee;
    box-shadow: 0 3px #0285b7;
}
.share-buttons .inner .twitter-button:hover{
    background: #83c3f3;
}
.share-buttons .inner .twitter-button:active{
    background: #0285b7;
}
.share-buttons .inner .googleplus-button{
    background: #db4a39;
    box-shadow: 0 3px #a23629;
}
.share-buttons .inner .googleplus-button:hover{
    background: #e47365;
}
.share-buttons .inner .googleplus-button:active{
    background: #a23629;
}
.share-buttons .inner .pocket-button{
    background: #ee4256;
    box-shadow: 0 3px 0 #b5392c;
}
.share-buttons .inner .pocket-button:hover{
    background: #f26f7f;
}
.share-buttons .inner .pocket-button:active{
    background: #b5392c;
}
.share-buttons .inner .share-buttons a:active{
    top: 3px;
    box-shadow: none;
}
/* PCフォローボタン */
/*********フォローボタン**********/
.follow-btn{
 width: 100%;
 margin: 5px 0px 5px 0px;
}
.follow-btn ul {
 list-style: none;
 display: -webkit-flex;
 display: flex;
 margin: 0;
 padding: 0;
}
.follow-btn li {
 height:80px;
 width: 100%;
 -webkit-transition: width 0.3s ease-out;
 transition: width 0.3s ease-out;
 display: -webkit-flex;
 display: flex;
 -webkit-align-items: center;
 align-items: center;
 -webkit-justify-content: center;
 justify-content: center;
}
.follow-btn li:hover {
 width: 200%;
}
.follow-btn li span{
 line-height:2.5;
 font-size:180%;
 font-weight: normal;
 font-style: normal;
 font-weight: normal;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
.btn1{
 background: #5F5E5E;/*読者ボタンの背景色*/
}
.btn2{
 background: #6FB6C3;/*Twitterの背景色*/
}
.btn3 {
 background: #82C36F;/*Feedlyの背景色*/
}
.btn4 {
 background: #6998b9;/*Facebookの背景色*/
}
.btn1-icon:before{
 content: "\f000";/*はてなアイコン*/
 display: inline-block;
 font-family: blogicon;
}
.btn2-icon:before{
 content: "\f035";/*Twitterアイコン*/
 display: inline-block;
 font-family: blogicon;
}
.btn3-icon:before{
 content: "\f04e";/*Feedlyアイコン*/
 display: inline-block;
 font-family: blogicon;
}
.btn4-icon:before{
 content: "\f036";/*Facebookアイコン*/
 display: inline-block;
 font-family: blogicon;
}
.follow-btn a {
 width:80%;
 height:100%;
 font-size: 13px;
 line-height: 1;
 font-weight: normal;
 text-decoration: none;
 text-align: center;
 color: #fff;
 -webkit-transition: all 0.3s ease-out;
 transition: all 0.3s ease-out;
}
/* 記事下IDと日付削除 */
span.author.vcard{ 
display:none; 
}

span.entry-footer-time {
display: none;
}

/* ヘッダ空白削除 */
#container {
margin-bottom: 0px;
}

</style>